<!DOCTYPE html>
<html>
    <head>
        <title>U-ramos</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        
        <script>
            $(document).ready(function(){
                 $('select#select_ramos').change(function () {
                    var optionSelected = $(this).find("option:selected");
                    var valueSelected  = optionSelected.val();
                    var ramo_name   = optionSelected.text();
                    
                    data = {'rmo' : ramo_name, csrfmiddlewaretoken: '{{ csrf_token }}'};
                    $.ajax({
                        method: "POST",
                        url: "/getdetails/",
                        data: data
                    }).done(function( result ) {
                        $("#select_profes .profe").remove();
                        $('.comment').remove();
                        $('#cantidad-comentarios').html(0);
                        $("#select_profes .default").attr("selected", true);
                        for (var i = result.length - 1; i >= 0; i--) {
                            $("#select_profes").append('<option class="profe" value="' + result[i].id + '">'+ result[i].name +'</option>');
                        };
                    });
                 });
                 
                 $('select#select_profes').change(function () {
                    var optionSelected = $(this).find("option:selected");
                    var id_profe  = optionSelected.val();
                    var nombre_ramo = $('select#select_ramos').find('option:selected').val()
                    var data = {
                        id_profe: id_profe,
                        nombre_ramo: nombre_ramo
                    };
                    $.get('/comentarios', data, function(response) {
                        
                        var respuesta = JSON.parse(response);
                        $('.comment').remove();
                        $('#cantidad-comentarios').html(respuesta.length);
                        respuesta.forEach(function (comentario) {
                            var fecha = $('<span>', {"class": "date"}).text((new Date(comentario.fields.timestamp)).toLocaleString());
                            var texto = $('<div>', {"class": "text"}).text(comentario.fields.texto);
                            $('#comentarios').append(
                                `<div class="comment"><div class="content">
                                    <div class="metadata">${fecha.prop('outerHTML')}</div>
                                    ${texto.prop('outerHTML')}</div></<div>`);
                        });
                    })
                    $.get('/datos', data, function(response){
                        $('#importancia_asistencia_auxiliar').text(
                            response.importancia_asistencia_auxiliar)
                        $('#importancia_asistencia_catedra').text(
                            response.importancia_asistencia_catedra)
                        $('#exigencia_ramo_profesor').text(
                            response.exigencia_ramo_profesor)    
                        $('#recomendado').text(
                            response.recomendado)
                        $('#notas_varias').show()
                    })
                    
                 });
            });
        </script>
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-101525951-1', 'auto');
          ga('send', 'pageview');
        
        </script>
        
    </head>
    
    <style type="text/css">
       body {
            background: linear-gradient(#7ac3ff 10%, #f6ffb2 90%);
            padding-left: 4em;
            padding-right: 4em;
        }
    </style>
<body>
    <h1>Bienvenidos a U-ramos!</h1>
    <p>El objetivo de U-ramos es presentar una alternativa para que los alumnos se informen de ramos antes de la Inscripción Académica.</p>
    <p>Si quieres aportar con información puedes hacerlo <a href="https://docs.google.com/forms/d/e/1FAIpQLSe9qTLE9DG_vNgCiXWw55yySYuZ72n2w-eOuya4LasE04MXRg/viewform?c=0&w=1">acá</a>. Puedes contestarla las veces que quieras!</p>
    <div class="ui container segment">
        <div class="ui grid">
            <h3>Selecciona algún ramo que te interese y después al profe que haya dictado el ramo</h3>
            <div class="row">
                <div class="center aligned column">
                    <select class="ui dropdown" id="select_ramos" name="select_ramos">
                        <option disabled selected>--- Selecciona un ramo ---</option>
                        {% for ramo in ramos %}
                            <option value="{{ ramo.name }}">{{ ramo.name }}</option>
                        {% endfor %}
                    </select>
                    <select class="ui dropdown" id="select_profes" name="select_profes">
                        <option class="default" disabled selected>--- Elije un profesor ---</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    
     <div class="ui container segment">
        <div id="notas" class="ui comments">
            <h3 class="ui dividing header">
                 Notas
            </h3>
            
            <div id="notas_varias" style="display:none">
                
                <table class="ui celled table">
                  <tr>
                    <th>Importancia asistencia auxiliar</th>
                    <th>Importancia asistencia a cátedra</th> 
                    <th>Exigencia</th>
                    <th>Porcentaje recomendados</th>
                  </tr>
                  <tr>
                    <td><span id="importancia_asistencia_auxiliar"></span>/7</td>
                    <td><span id="importancia_asistencia_catedra"></span>/7</td>
                    <td><span id="exigencia_ramo_profesor"></span>/7</td>
                    <td><span id="recomendado"></span> %</td>
                  </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div class="ui container segment">
        <div id="comentarios" class="ui comments">
            <h3 class="ui dividing header">
                 Comentarios (<span id="cantidad-comentarios">0</span>)
            </h3>
        </div>
    </div>
    
    {% if comm_status %}
    <h3>Gracias por ayudarnos a mejorar!</h3>
    {% else %}
    <div class="ui container segment"> Deja tu comentario o sugerencia sobre la página aquí:
    <form action="/send_comm" class="ui form" method="post"> {% csrf_token %}
        <textarea name="comm"></textarea>
        <button type="submit" id="comm_submit" class="ui green basic button" name="action_type" value="send" />
        Enviar
        </button>
    </form>
    </div>
    {% endif %}
    
</body>

</html>